/node_modules
/public/hot
/public/storage
/public/*
public/
!public/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
config/debugbar.php
public/js/app.js
u794216831_laravel.sql
.idea/runConfigurations/Unnamed.xml
composer.lock
