php_flag log_errors on
php_value error_reporting 32767
php_value error_log "error_log.txt"

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?beta.mokyklelepasaka.lt
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^(.*)$ public/$1 [L]

# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:mokyklelepasaka.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?mokyklelepasaka.com
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:mokyklelepasaka.com
